/* This is CSS file for SWE40001 SEPA - Group 3
 Author: Fafa (team member)
 Date Created: 10/4/2020 */


/*style for headings in calibration.html*/
div.calibration {
  background-color: rgb(255,255,91);
  border: 7px solid grey;
  padding-bottom: 10px;
  margin-bottom: 80px;
  padding-left: 10px;
}

/* this is just a styling for the red dot (calibration.html) */
#RedDot {
	font-size: 20px;
	text-align: center;
}

/* this is division for the official visualisation test section */
div.test {
	background-color: rgb(255,255,150);
	border: 5px solid black;
	padding-left: 40px;
	padding-bottom: 30px;
	margin: 20px;
}


