body {
	background-color: black;
    margin: 0px;
	padding: 0px;
}

/* text floats over the canvas */
#header {
    position: absolute;
    width: 98%;
    height: 30%;
    margin: 8px;
    padding: 8px;
    background-color: #e0e0e0a0;
}

/* canvas takes up whole browser window */
#myCanvas{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    border: 0px solid #d3d3d3;
}