/* This is CSS file for SWE40001 SEPA - Group 3
 Author: Syabil (team member)
 Date Created: 1/5/2020 */

/*Style for sliders*/
.sliders {
  padding: 50px;
}
.range {
	position: relative;
	width: 550px;
	height: 5px;
}
.range input {
	width: 100%;
	position: absolute;
	top: 2px;
	height: 0;
	-webkit-appearance: none;
}
.range input::-webkit-slider-thumb {
	-webkit-appearance: none;
	width: 18px;
	height: 18px;
	margin: -8px 0 0;
	border-radius: 50%;
	background: #37adbf;
	cursor: pointer;
	border: 0;
}

.range input::-webkit-slider-runnable-track {
	width: 100%;
	height: 2px;
	cursor: pointer;
	background: #b2b2b2;
}
.range input::-moz-range-track {
	width: 100%;
	height: 2px;
	cursor: pointer;
	background: #b2b2b2;
}
.range input::-ms-track {
	width: 100%;
	height: 2px;
	cursor: pointer;
	background: #b2b2b2;
}
.range input:focus {
	background: none;
	outline: none;
}
.range input::-ms-track {
	width: 100%;
	cursor: pointer;
	background: transparent;
	border-color: transparent;
	color: transparent;
}

/*Style labels sliders*/
.range-labels {
	margin: 20px -41px 0;
	padding: 0;
	list-style: none;
	/*Prevent scroll bar and labels from wrapping around*/
	width: max-content;
}
.range-labels li {
	position: relative;
	float: left;
	width: 106.5px;
	text-align: center;
	color: #b2b2b2;
	font-size: 14px;
}


.range-labels .selected::before {
	background: #37adbf;
}
.range-labels .active.selected::before {
	display: none;
}